<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/smoothie.png" alt="">
        </div>
        <div class="headings">
            <h2>Smoothie Recipes</h2>
            <h3>By Blablabla For Nobody</h3>
            <a href="/blablabla" class="btn">View Recipes</a>
        </div>
    </header>

    <%- include('partials/footer'); -%>